html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.App-content {
  flex: 1; /* Занимает все доступное пространство, оставшееся после header */
}

.App-header {
  text-align: center;
  background: linear-gradient(90deg, rgba(12,12,12,1) 0%, rgba(33,33,33,1) 50%, rgba(12,12,12,1) 100%); /* Градиент от темно-серого к более светлому и обратно */
  display: flex;
  padding: 2px 0; /* Добавляем немного вертикального пространства */
  align-items: center; /* Центрируем содержимое по вертикали */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  font-size: 10px; /* Немного увеличиваем шрифт для лучшей читаемости */
  color: white;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Тонкая линия для визуального отделения заголовка от контента */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Легкая тень для создания "плавающего" эффекта */
}

.App-logo {
  height: 25px;
  margin-left: 5px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}